playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body, html{
    /*height: 100%;*/
    background-repeat: no-repeat;
    background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
    font-family: 'Oxygen', sans-serif;
    background-size: cover;
}

.main{
    margin:50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    /*color: #666;*/
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 40px;
    background:#009edf;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}

input, textarea {
    max-width: 100%;
}

/*----------------------HEADER------------------------------*/


#header{
    width: 100%;
    top:0;
    position: absolute;
}









/*----------------------HEADER------------------------------*/



/*///Used in student view task */

#header{
    position: static;
}
table thead{
    pointer-events: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}
li {
    float: left;
}
li a:hover {
    color: #0000FF;
}
table.table.table-striped.table-bordered.dataTable.no-footer{

    background: rgba(6, 0, 255, 0.54);
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 1px 1px 50px #000;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.dataTables_length{
    color: white;
    text-shadow: 1px 1px 50px #000;
}
.dataTables_filter{
    color: white;
    text-shadow: 1px 1px 50px #000;
}
.dataTables_info{
    color: white;
    text-shadow: 1px 1px 50px #000;
}
.dataTables_wrapper{
    max-width: 1000px;
}
table.table.table-striped.table-bordered th,  table.table.table-striped.table-bordered td{
    padding-top: 0.5em;
}
table tbody tr{
    position: relative;
}

table#task_table thead{

}

.menu-task{
    margin-top: -2.8em;
    margin-left: 5em;
    position: absolute;
    background-color: #00FF7F;
    border-radius: 50px;
    z-index: 1;
}

.blur-animated{
    -webkit-animation: filter-animation 2s forwards ;
}

@-webkit-keyframes filter-animation {
    0% {
        -webkit-filter: blur(1px);
        filter:blur(1px) ;
    }
    100% {
        -webkit-filter: blur(3px);
        filter:blur(3px) ;
    }
}


table.table.table-striped.table-bordered tbody tr td.clickable {
    cursor: pointer;
}

table.table.table-striped.table-bordered tbody tr td.first-col{
    /*border-bottom-color: white !important;*/
}
button:focus{
    outline: 0;
}

.pointer_btn{
    cursor: pointer;
    margin: 0 auto;
}

/*#task_table{*/
    /*background-image: url('./image/bg-01.jpg');*/
/*}*/
#create_main_task{
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    background-color: rgba(0, 0, 0, 0);
    background-image: -moz-linear-gradient(center bottom , rgb(117, 121, 255), rgb(178, 36, 239));
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    color: white;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front{
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    background-color: rgba(0, 0, 0, 0);
    background-image: -moz-linear-gradient(center bottom , rgb(117, 121, 255), rgb(178, 36, 239));
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    top: 150px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea{
    font-size: 0.8em;
    top: 100px;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front{
    top: 100px;
}
